<span class="rank_num">{{rank}}</span>
<span class="mdl-list__item-primary-content">
    <i class="material-icons mdl-list__item-avatar" src="{{user.photourl}}"></i>
    <span>{{user.name}}</span>
    <span class="mdl-list__item-sub-title">{{user.nickname}}</span>
</span>
<span class="mdl-list__item-secondary-content win_percentage">{{winPercentage}}%</span>
<span class="mdl-ripple"></span>