<li class="subheader mdl-list__item">
    <span class="mdl-list__item-primary-content">Stats</span>
</li>
<li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Record</span>
    <span class="mdl-list__item-secondary-content">{{wins}} Win, {{losses}} Loss  ·  {{winPercentage}}%</span>
</li>
<li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Total Goals</span>
    <span class="mdl-list__item-secondary-content">{{goalsFor}} For  ·  {{goalsAgainst}} Against</span>
</li>