{{#if session.isAuthenticated}}
  Logged in as {{session.currentUser.displayName}}
  <button {{action "signOut"}}>Sign out</button>
  {{outlet}}
{{else}}
  <div class="container_sign-in">
    <h1>Klask Standings</h1>
    <div>
      <img src="{{rootURL}}assets/images/logo_sign-in.svg" alt="Klask Logo">
    </div>
    <button {{action "signIn" "google"}} class="btn-sign-in mdl-js-ripple-effect">
      <img src="{{rootURL}}assets/images/logo_google.svg" alt="Google Logo" />
      Sign in with Google
      <span class="mdl-ripple"></span>
    </button>
  </div>
{{/if}}